{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
    {% for i in key %}
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
              <div class="card-header">Year: {{i.year}}</div>
              <div class="card-body">
                  <h5 class="card-title" > <a href ="{% url 'HomeApp:details' i.id %}" style="color:black">{{i.name}}</a></h5>
                <img src="{{i.image.url}}"height="130" alt="udane varum" class="card-img-top">
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}